@charset "utf-8";

/* (IMPORT) FONTS - START*/
@font-face {
    font-family: SegoeUI;
    src: url(../fonts/Segoe\ UI.ttf);
}
/* (IMPORT) FONST - END */

/* VARIABLES - START*/
:root {
    --fontMain: "Segoe UI";
}
/* VARIABLES - END*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: var(--fontMain);
}

/* HEADER-MAIN - START*/
.header-main {
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5px 15px;
    background-color: white;
    z-index: 1;

    position: fixed;
    top: 0;
}

.img_logo {
    width: 120px;
}

.conteiner_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
}

.conteiner_options > img {
    width: 30px;
}

.conteiner_options > img:nth-child(2) {
    margin: 0 20px;
}
/* HEADER-MAIN - END*/

/* NAV STORIES - START*/

main {
    padding-top: 50px;
    padding-bottom: 40px;
}

.nav_stories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
    user-select: none;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    display: none;
}

.conteiner_stories {
    margin: 0 5px;
    text-align: center;
    align-items: center;
}

.profile_img {
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.id_profileStories {
    font-size: 12px;
    text-align: center;
}

.add_storiesIcon {
    position: relative;
    width: 15px;
    right: 20px;
}
/* NAV STORIES - END*/

/* FEED - START */
.conteiner_feed {
    margin-top: 10px;
    border-top: 0.5px  solid gray;
    padding-top: 10px;
}

.post_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
}

.header_post {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
}

.box_userPost {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    justify-items: center;
    align-items: center;
}

.img_userPost {
    width: 35px;
    border-radius: 50%;
    border: 1px solid gray;
}

.id_profileFeed {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.imgPost {
    width: 100vw;
}

.box_actionsFeed {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.icons_actionsFeed {
    width: 30px;
    z-index: 1;
}
/* FEED - END*/

/*FOOTER - START*/
.footer_main {
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.actions_footer {
    width: 30px;
}

.userFooter {
    border: 2px solid grey;
    border-radius: 50%;
}
/*FOOTER - END*/